/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
nav,
header {}

hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #444;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.17em;
  font-weight: 400;
}

h4 {
  font-size: 1.12em;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}


a {
  color: #ed699a;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #6b0050;
  text-decoration: none;

}



a:active {
  /* selected link */
  color: #d80993;
}


.button {
  background-color: #ed699a;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  text-decoration: none;
  margin: 15px 0 15px 0;
  transition: 0.4s opacity;
}

.button:hover {
  background-color: #F1CED2;
  color: #444;
  opacity: 0.8;
}

.button:active {
  position: relative;
  top: 1px;
  color: #ed699a;
}

/* Layout styling NAV BAR NOVA ******************************************************************/

#navbar {
  overflow: hidden;
  background-image: url(../img/background.jpg);
  background-color: #ffffff;
  background-repeat: repeat;
  padding: 10px 30px 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(107, 107, 107, 0.37);
  -moz-box-shadow: 2px 2px 6px 0px rgba(114, 113, 113, 0.37);
  box-shadow: 2px 2px 6px 0px rgba(136, 136, 136, 0.37);
}

#logo-img {
  transition: 0.4s;
}

#navbar a {
  /* float: left; */
  color: #000;
  text-align: center;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 8px;
  border-radius: 28px;
  margin: 10px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ed699a;
  color: #fff;
}

#navbar a.active {
  background-color: #ed699a;
  color: #fff;
  font-weight: bold;
}

/* Layout styling INDEX *******************************************************************************/




.container {
  padding: 0 15px;
  max-width: 1200px;
}

.row {
  margin: 25px 0;
}


.logo {
  max-width: 150px;
  margin-bottom: 5px;
}

/*
header {
  background-image: url(../img/background.jpg);
  background-repeat: repeat ;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.37);
-moz-box-shadow:    4px 4px 11px 0px rgba(50, 50, 50, 0.37);
box-shadow:         4px 4px 11px 0px rgba(50, 50, 50, 0.37);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: #6b0050;
  text-decoration:none;
  color: inherit;
  transition: background 0.5s cubic-bezier(.33,.66,.66,1);
  border-radius: 25px;
}


nav > ul > li > a:visited {
  color: #6b0050;
}

nav > ul > li > a:hover {
  background: #f1ced2;
  border-radius: 25px;
}



nav > ul > li > a:active {
  color: #ed699a;
}
*/
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 24px;
}

.navtoggle li .icon {
  color: #ed699a;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;

}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}


main {
  padding-top: 150px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  margin-bottom: 30px;
}

#hero h1::after {
  content: "👋";
  margin-left: 10px;
}

#hero p {
  text-align: justify;
  margin: 15px 5px 15px 5px;
}

#hero h3 {
  /* font-weight: bold; */
  margin: 20px 0 20px 0;
}

#work h2 {
  text-align: center;
  margin: 20px 0 20px 0;
}

#work h3 {
  font-weight: bold;
}

.imagework h2 {
  text-align: center;

}

footer h2 {
  text-align: center;
  margin: 40px 0 10px 0;
}

footer .container p {
  text-align: center;
}

.buttoncenter {
  display: flex;
  justify-content: center;
  align-items: center;

}

.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.linkedin {
  margin: 10px;
}

.behance {
  margin: 10px;
}



/* Layout styling ABOUT ME ************************************************/


.about-me-title {
  text-align: center;
  margin: 0 0 30px 0;
}

.mystory p {
  margin-bottom: 10px;
}

#about h2 {
  text-align: center;
  margin: 30px 0 20px 0;
}

.relevant-skills h3,
h4 {
  font-weight: bold;
}

.tools-i-use h3 {
  font-weight: bold;
}

.tools-i-use {
  margin-bottom: 20px;
}

.ana-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 1px solid #ffffff;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px rgb(223, 223, 223);
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  transition: 0.5s all ease-in-out;
}

.ana-photo:hover {
  animation: bounce 1s;
}





/* Layout styling PROJECTS */



.ideal-header h1 {
  text-align: center;
  margin: 15px;
}

.ideal-header p {
  margin-bottom: 10px;
}


/* @media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
} */



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .about-me-title {
    text-align: center;
    margin: 30 0 30px 0;
  }


  .container {
    font-size: 1.3em;
  }

  .button {
    background-color: #ed699a;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    padding: 5px 25px;
    text-decoration: none;
    margin: 15px 0 15px 0;
    transition: 0.4s opacity;
  }

  /* .button {
    font-size: 1.1em;
  } */


  nav {
    width: auto;
    float: none;
    margin-top: 25px;
  }

  nav>ul {
    margin: 1em 0;
  }

  .logo {
    max-width: 200px;
    margin: 0;
  }

  .navigation {
    margin: 0;
  }


  .col-md-6 {
    width: 50%;
  }


  main {
    padding-top: 115px;
  }


  .row::after {
    content: "";
    clear: both;
    display: table;

  }

  [class*="col-"] {
    float: left;
    padding: 0 15px 0 15px;
  }

  svg {
    text-align: center;
  }

  nav>ul>li {
    display: inline-block;
  }


  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  #navbar-right {
    margin-top: 25px;
    float: right;
  }

#work h2 {
  margin: 30px 0 50px 0;
}

#work h3 {
  margin: 0 0 10px 0;
}

.ana-photo {
  width: 40%;
}


}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero p {
    text-align: justify;
    margin: 30px 80px 50px 80px;
  }


}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}






@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}




/* IDEALL *************************************/

.ideall {
  background-color: #161616;
}

.ideall-header h1 {
  margin: 15px;
  text-align: center;
  color: #ffffff;
}

.ideall-header p {
  margin: 20px;
  line-height: 2;
  color: #ffffff;
}

.ideall-boards img {
  display: block;
}

footer .ideall p {
  color: #ffffff;
}

footer .ideall h2 {
  color: #ffffff;
}

/* PLANT DEAL *********************************/

.plant-deal {
  background-color: #161616;
}


.plantdeal-header h1 {
  margin: 15px;
  text-align: center;
  color: #ffffff;
}

.plantdeal-header p {
  margin: 20px;
  line-height: 2;
  color: #ffffff;
}

.plantdeal-boards img {
  display: block;
}

footer .plant-deal p {
  color: #ffffff;
}

footer .plant-deal h2 {
  color: #ffffff;
}


/* DREAM CLOSET *****************************/

.dream-closet {
  background-color: #161616;
}

.dream-closet-header h1 {
  margin: 15px;
  text-align: center;
  color: #ffffff;
}

.dream-closet-header p {
  margin: 20px;
  line-height: 2;
  color: #ffffff;
}

.dream-closet-boards img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dream-closet-boards {
  text-align: center;
}

.dream-closet-boards p {
  font-style: italic;
  color: rgb(138, 138, 138);
  margin-bottom: 20px;
  font-size: smaller;
}

.gifmargin {
  margin: 30px 0 10px 0;
}

footer .dream-closet p {
  color: #ffffff;
}

footer .dream-closet h2 {
  color: #ffffff;
}


/* SILVERY ********************************/

.silvery {
  background-color: #161616;
}

.silvery-header h1 {
  margin: 15px;
  text-align: center;
  color: #ffffff;
}

.silvery-header p {
  margin: 20px;
  line-height: 2;
  color: #ffffff;
}

.silvey-boards img {
  display: block;
}

footer .silvery p {
  color: #ffffff;
}

footer .silvery h2 {
  color: #ffffff;
}



/* BEHANCE ********************************/

.behance svg {
  transition: transform .5s ease;
}

.behance:hover svg {
  transform: scale(1.2);
}

/* LINKEDIN ********************************/

.linkedin svg {
  transition: transform .5s ease;
}

.linkedin:hover svg {
  transform: scale(1.2);
}